* {
  margin: 0;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: hsl(201, 11%, 66%);
}

.top-section {
  background: url(images/bg-header-mobile.png) top no-repeat;
  background-size: cover;
  padding-bottom: 170px;
}

.logo {
  display: block;
  width: auto;
  margin: 0 auto 70px auto;
  padding-top: 120px;
}

h1 {
  font-weight: 700;
  width: 95%;
  text-align: center;
  margin: 0 auto 20px auto;
  color: hsl(210, 10%, 33%);
}

h2 {
  font-weight: 700;
  width: 65%;
  color: hsl(210, 10%, 33%);
  text-align: center;
  margin: 0 auto 20px auto;
}

h3 {
  font-weight: 700;
  color: hsl(210, 10%, 33%);
  width: fit-content;
  text-align: center;
  margin: 0 auto 20px auto;
}

.btn {
  display: flex;
  flex-direction: column;
  height: 135px;
  justify-content: space-between;
  margin-top: 50px;
}

.top-section p {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.ios,
.mac {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82%;
  height: 55px;
  border-radius: 50px;
  color: #fff;
  margin: 0 auto;
  box-shadow: 1px 1px 1px #404040;
  cursor: pointer;
}

.ios {
  background: hsl(171, 66%, 44%);
}

.ios:hover {
  transition: 0.3s;
  background: #6be1cf;
}

.mac {
  background: hsl(233, 100%, 69%);
}

.mac:hover {
  transition: 0.3s;
  background: #8896ff;
}

.section-track {
  padding-bottom: 190px;
}

/* .section-track p {

  margin: 0 auto 20px auto;
} */

.section-track > p {
  width: 90%;
  text-align: center;
  margin: 0 auto 45px auto;
}

.section-track .wrap img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.wrap {
  display: flex;
  width: 85%;
  margin: 0 auto;
}

.section-track .wrap {
  flex-direction: column;
}

.tracking-details > div h3 {
  margin-top: 60px;
}

.tracking-details div p {
  text-align: center;
}

.tracking-details div {
  margin-bottom: 55px;
}

.tracking-details div:last-child {
  margin-bottom: 0;
}

.section-access {
  padding-bottom: 135px;
}

.section-access p {
  padding-bottom: 60px;
}

.section-access img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.section-access p {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.section-workflow {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 170px;
}

.section-workflow > p {
  margin-bottom: 90px;
}

.workflow {
  margin-bottom: 60px;
}

.workflow:last-child {
  margin-bottom: 0;
}

.workflow img {
  margin-bottom: 45px;
}

.workflow-detail {
  padding-bottom: 70px;
}

.brands {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  justify-content: space-between;
}

.brands img {
  display: block;
  width: 37%;
  margin: 0 auto;
  padding: 30px 0;
}

.section-download {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 170px;
}

.footer {
  background: #f5f6f8;
  padding: 50px 0;
}

.footer > img {
  display: block;
  width: 14%;
  margin: 0 auto;
}

.footer-links {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-links a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
  margin: 12px auto 12px;
  width: fit-content;
}

.footer-links a:hover {
  transition: 0.3s;
  color: hsl(171, 66%, 44%);
}

.footer-links a:first-child {
  margin-top: 0;
}

.footer-links a:last-child {
  margin-bottom: 0;
}

.socials {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.socials svg:hover {
  cursor: pointer;
}

.socials svg:hover path {
  transition: 0.3s;
  fill: hsl(171, 66%, 44%);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .top-section {
    background: url(images/bg-header-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .top-section > p,
  .section-track > p,
  .section-access > p,
  .section-workflow > p,
  .section-download > p {
    width: 75%;
  }

  .btn {
    flex-direction: row;
    width: 65%;
    margin: 50px auto 0 auto;
    justify-content: space-between;
    height: auto;
  }

  .logo {
    padding-top: 130px;
  }

  .ios,
  .mac {
    width: 45%;
  }

  .section-track > p {
    margin-bottom: 0;
  }

  .section-track .wrap {
    margin-top: 70px;
  }

  .section-track .wrap img {
    width: 80%;
  }

  .tracking-details {
    display: flex;
    justify-content: space-between;
  }

  .tracking-details div {
    margin-bottom: 0;
    width: 30%;
  }

  .section-access {
    padding-bottom: 50px;
  }

  .section-access img {
    width: 57%;
  }

  .section-workflow {
    width: 76%;
  }

  .section-workflow p {
    margin: 0 auto;
  }

  .section-workflow .workflow-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }

  .workflow-detail .workflow {
    width: 31%;
    margin-bottom: 0;
  }

  .brands {
    flex-direction: row;
  }

  .brands img {
    margin: 0;
    padding: 0;
    width: 15%;
    height: fit-content;
    align-self: center;
  }

  .section-download > p {
    margin: 0 auto;
  }

  .footer {
    display: flex;
  }

  .footer > img {
    width: 5%;
    height: fit-content;
  }

  .footer-links {
    flex-direction: row;
    width: 50%;
    padding: 0;
    flex-wrap: wrap;
  }

  .footer-links a {
    width: 33%;
    margin: 0;
    text-align: left;
    align-self: center;
  }

  .socials {
    width: 8%;
    align-items: center;
  }

  .order:nth-last-of-type(1) {
    order: -1;
  }

  .order:nth-last-of-type(3) {
    order: -1;
  }

  .order:nth-last-of-type(5) {
    order: -1;
  }
}

@media screen and (min-width: 1050px) {
  .section-track .wrap {
    flex-direction: row;
    width: 100%;
  }

  .section-track .wrap img {
    width: 55%;
    position: relative;
    left: -3%;
    margin: 0;
  }

  .tracking-details {
    display: block;
    width: 33%;
    margin-left: 80px;
    align-self: center;
  }

  .tracking-details h3 {
    margin-left: 0;
  }

  .tracking-details div {
    width: 100%;
    margin-bottom: 60px;
  }

  .tracking-details div p {
    text-align: left;
  }

  .tracking-details > div h3 {
    margin-top: 0;
  }
}
